*,
*:before,
*:after {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
}

body {
    position: relative;
    font-family: 'Lato', 'Arial', sans-serif;
}

.login-box h1 {
    margin-top: 5px;
    margin-bottom: 5px;
    color: #fff;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    letter-spacing: 1px;
    text-align: center;
}

.login-box {
    position: absolute;
    height: 325px;
    width: 300px;
    background-color: rgba(60, 31, 71, 0.7);
    border: 1px solid rgba(60, 31, 71, 0.7);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: background-color 0.2s;
}

.login-box:hover {
    background-color: rgba(60, 31, 71, 0.85);
}

.wrap {
    height: 100%;
    position: relative;
    overflow: hidden;
}

.wrap .bg {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    background: url("img/header.jpg") no-repeat center center;
    background-size: cover;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

input {
    width: 96.5%;
    margin: 10px 5px;
    background: rgba(255, 254, 254, 0.952);
    color: rgb(49, 48, 49);
    outline: none;
    padding: 10px;
    font-weight: 600;
    font-size: 15px;
    letter-spacing: 1px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 4px;
}

input:focus {
    box-shadow: inset 0 -5px 45px rgba(92, 43, 124, 0.185), 0 1px 1px rgba(255, 255, 255, 0.705);
}

.icon-big {
    position: absolute;
    padding-right: 5px;
    top: 25px;
    left: 20%;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background-color: rgba(60, 31, 71, 0.7);
    font-size: 350%;
    text-align: center;
    display: block;
    color: #fbfbfb;
    margin-bottom: 10px;
}

.icon-big:hover {
    background-color: rgba(60, 31, 71, 0.9);
}


.btn {
    width: 96.5%;
    margin: 10px 5px;
    padding: 10px 30px;
    text-decoration: none;
    border-radius: 5px;
    color: rgb(29, 16, 35);
    text-transform: uppercase;
    font-weight: 600;
}

.btn-login {
    border: 1px solid rgb(233, 220, 239, 0.45);
    background-color: rgb(233, 220, 239, 0.45);
}

.btn-register {
    border: 1px solid rgb(233, 220, 239, 0.80);
    background-color: rgb(233, 220, 239, 0.80);
}

.btn:hover {
    border: 1px solid rgb(233, 220, 239, 0.95);
    background-color: rgb(233, 220, 239, 0.95);
}

.login-box p {
    color: #f4f4f4;
    padding-left: 5px;
    margin-top: 15px;
}